<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <context:annotation-config />
    <context:load-time-weaver/>
    
    
    <import resource="classpath*:mediaitems/application/sources/integration/integration-context.xml"/>
    <context:component-scan base-package="mediaitems.application,
                                          mediaitems.metadata.springdata" />

    <bean id="mongoDbFactory" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
	    <constructor-arg>
	        <bean class="com.mongodb.Mongo"/>
	    </constructor-arg>
	    <constructor-arg value="mediaitems"/>
    </bean>
</beans>
